extends ../layouts/layout

block title
  title Contact

block content
  h1
    | Study &
    | Understand Grammar

  .flex
    div.cards256
      a(href='https://myvuejsproject.firebaseapp.com')
        img(src='/assets/images/hello.jpg')
        span
          | Click & Say Hi!

