extends ../layouts/layout

block title
  title Contact

block content
  h1
    | Study &
    | Understand Grammar

  .flex
    div
      a(href='https://myvuejsproject.firebaseapp.com')
        img(src='/assets/images/hello.jpg')
        br
        h1(style="color: white;") Click & Say Hi!

