extends ../layouts/layout

block title
  title Grammar

block content
  h1 Review what you have learned!

  .jumbotron(style="background:white;")
    .card
      .card-body
        h2#test_status
      .card-body
        .container
          #test


  script(type="text/javascript" src="/assets/src/quiz.js")
  script(type="text/javascript" src="/assets/src/q_list.js")

