extends ../layouts/layout

block title
  title Grammar
block content
  h1
    | Study &
    | Understand Grammar

  .flex
      div.cards256
        a(href='/grammar/quiz')
          img(src='/assets/images/quiz-image.jpg')
          span Go to Grammar Quiz!
      div.cards256
        a(href='/grammar/lectures')
          img(src='/assets/images/lecture.png')
          span Go to Grammar Lecture!

  a.grammarLink(href="/grammar/quiz") Go to Grammar Quiz!
  a.grammarLink(href="/grammar/lectures") Go to Grammar Lectures!
