extends ../layouts/layout

block title
  title Words

block content
  h1
    | Up Your Words Power

  .flex
  div.cards256
    a(href='https://udemy-ninja-4d42a.firebaseapp.com/#/')
      img(src='/assets/images/word-meaning.png')
      span
        | Check Up!


