extends layouts/layout

block login
  ul
    if user
      li
        a(href="/auth/logout") Logout
    else
      li
        a(href="/auth/login") Login
    li
      a(href="/profile") Profile

block content
  div(class="cards256")
    a(href="/")
      img(src="assets/images/home.jpg" alt="home")
      span
        | English &amp; Coding
    a(href="/grammar")
      img(src="assets/images/grammar.jpg" alt="grammar")
      span
        | Grammar
    a(href="/words")
      img(src="assets/images/words.jpg" alt="words")
      span
        | Words
    a(href="/coding")
      img(src="assets/images/coding.png" alt="coding")
      span
        | Coding
    a(href="/contact")
      img(src="assets/images/contact.jpg" alt="contact")
      span
        | Contact



