extends ./layout


block login
  ul
    li
      a(href="/auth/login") Login
    li
      a(href="/auth/logout") Logout

block content
  div(class="cards256")
    a(href="/")
      img(src="assets/images/output/home.jpg" alt="home")
      span
        | English &amp; Coding
    a(href="/grammar")
      img(src="assets/images/output/grammar.jpg" alt="grammar")
      span
        | Grammar
    a(href="/words")
      img(src="assets/images/output/words.jpg" alt="words")
      span
        | Words
    a(href="/coding")
      img(src="assets/images/output/coding.png" alt="coding")
      span
        | Coding
    a(href="/contact")
      img(src="assets/images/output/contact.jpg" alt="contact")
      span
        | Contact



