extends ./layout
block content
          h1 Home

          p.
            Bacon ipsum dolor amet buffalo pastrami andouille, drumstick ham sausage capicola tenderloin hamburger. Ribeye jowl cow pork chop corned beef. Leberkas strip steak hamburger shoulder swine ground round drumstick pancetta kevin turkey shankle sirloin pork belly beef ribs. Tongue fatback sirloin burgdoggen pork pork chop kielbasa frankfurter beef, ham hock pancetta meatloaf corned beef porchetta ham.
          br

          img(src="http://via.placeholder.com/700x150" alt="placeholder")
          p.
            Fatback buffalo chicken tail. Picanha brisket pastrami cow sausage turkey short loin shank hamburger bacon kielbasa pig jerky capicola pork loin. Meatball t-bone meatloaf andouille. Sirloin landjaeger meatloaf ground round frankfurter bacon ball tip tri-tip. Short loin kevin landjaeger meatball jowl, brisket strip steak turkey prosciutto turducken cupim tri-tip alcatra. Ham fatback pork ground round pork chop sausage short ribs.

          video(controls)
            source(src='assets/images/music.mp4')

          p.
            Prosciutto alcatra short ribs, drumstick bacon t-bone sausage. Fatback pig biltong corned beef boudin burgdoggen bresaola. Tenderloin venison tail landjaeger boudin burgdoggen. Ribeye drumstick biltong, spare ribs strip steak sirloin pig picanha prosciutto corned beef tenderloin cow pork loin. Pork chop andouille sirloin bacon boudin pastrami kielbasa meatloaf. Buffalo biltong meatloaf hamburger filet mignon. Pork jowl andouille picanha strip steak pork chop.

          iframe(width="560" height="315" src="https://www.youtube.com/embed/_5xu0M32WZQ" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen)

          p.
             Landjaeger salami frankfurter alcatra brisket short ribs. Cow burgdoggen bacon andouille tenderloin. Burgdoggen chicken ground round, filet mignon tail picanha pork cupim short ribs buffalo sirloin strip steak. Tail cow biltong tenderloin flank swine meatball chuck shank fatback pork chop short ribs rump turducken. Flank corned beef biltong, capicola ribeye chuck tenderloin frankfurter burgdoggen boudin.
          p.
            shank pastrami pork belly cupim, shankle sirloin short loin burgdoggen. Fatback porchetta sirloin pork chop pancetta, doner pork swine short ribs leberkas bacon prosciutto. Flank bacon spare ribs kevin tongue t-bone. Bacon ham brisket, doner biltong beef drumstick. Hamburger flank filet mignon, landjaeger shoulder ribeye turducken shankle t-bone andouille tri-tip corned beef.
          p.
             Does your lorem ipsum text long for something a little meatier? Give our generator a try… it’s tasty! #[br]


