extends layouts/layout

block login

block content
  div(class="cards256")
    a(href="/")
      img(src="assets/images/home.jpg" alt="home")
      span
        | English &amp; Coding
    a(href="/grammar")
      img(src="assets/images/grammar.jpg" alt="grammar")
      span
        | Grammar
    a(href="https://udemy-ninja-4d42a.firebaseapp.com/level1")
      img(src="assets/images/words.jpg" alt="words")
      span
        | Words
    a(href="/coding")
      img(src="assets/images/coding.png" alt="coding")
      span
        | Coding
    a(href="https://myvuejsproject.firebaseapp.com")
      img(src="assets/images/contact.jpg" alt="contact")
      span
        | Contact
    a(href="https://vue-blogs-21b89.firebaseapp.com/")
      img(src="assets/images/blog.jpg" alt="contact")
      span
        | Blog


