<!DOCTYPE html>
html(lang="en")
      head
            meta(charset="UTF-8")
            meta(name="viewport", content="width=device-width, initial-scale=1.0")
            meta(http-equiv="X-UA-Compatible", content="ie=edge")
            block title
              title English & Coding

            link(rel="stylesheet", href="/assets/css/style.css")
            link(rel="stylesheet", href="/assets/css/quiz.css")
      body
        header
            img(src='/assets/images/logo.png' id='logo' alt='Song Sung Tae' title='Song Sung Tae')
            h1 Main Title
            h2 Subtitle
            img(src='/assets/images/hamburger.png' id="hamburger"  alt="menu" title='click here for menu')

        nav(id="nav")
          a(href="/" id="home") Home
          a(href="/grammar") Grammar
          a(href="/words/power") Words
          a(href="/coding/everyone") Coding
          a(href="/contact") Contact

        div(id="home-login")
          block login

        article
          block content

        footer
          a(href="#")
           i(class="fab fa-facebook-f" title="Facebook")
          a(href="#")
           i(class="fab fa-twitter" title="Twitter")
          a(href="#")
           i(class="fab fa-linkedin-in" title="Linkedin")
          a(href="#")
           i(class="fab fa-google-plus-g" title="Google+")
          a(href="#")
           i(class="fab fa-pinterest-p" title="Google+")

        script(type="text/javascript" src="/assets/src/main.js")


