@import url("https://fonts.googleapis.com/css?family=Josefin+Sans|Open+Sans|Pacifico|Source+Sans+Pro|Nanum+Gothic+Coding:400");
@import url("https://use.fontawesome.com/releases/v5.2.0/css/all.css");
@keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

body {
  margin: 0; }

header {
  background: linear-gradient(#108EE8, #04B2D1);
  height: 80px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10000; }
  header #logo {
    height: 80px;
    position: absolute; }
  header h1,
  header h2 {
    margin: 0;
    position: absolute;
    top: 10px;
    left: 80px;
    color: white;
    text-shadow: 2px 2px black;
    animation: 3s ease-out 0s 1 fadein; }
  header h1 {
    font-family: "Josefin Sans", sans-serif; }
  header h2 {
    font-family: 'Pacifico', cursive;
    top: 40px; }
  header #hamburger {
    position: absolute;
    right: 20px;
    height: 50%;
    top: 20%; }

nav {
  width: 150px;
  background: linear-gradient(#04B2D1, #108EE8);
  position: fixed;
  right: 0;
  top: 80px;
  z-index: 10000; }
  nav a {
    display: block;
    height: 60px;
    line-height: 60px;
    text-align: center;
    color: white;
    text-decoration: none;
    font-family: "Josefin Sans", sans-serif;
    font-size: 120%;
    border-bottom: solid 1px #152CB2;
    transition: all ease-out .5s; }
    nav a:hover {
      background-color: #05F5DA; }

#nav.hidden {
  right: -160px;
  transition: 500ms; }

#nav.visible {
  right: 0;
  transition: 500ms; }

#nav a.currentPage {
  background-color: #D1BD8F; }

#home-login {
  display: block;
  float: right;
  position: fixed;
  top: 10px;
  right: 20px;
  background-color: rgba(255, 255, 255, 0);
  z-index: 300000; }
  #home-login ul {
    list-style-type: none; }
    #home-login ul li {
      font-family: "Josefin Sans", sans-serif;
      display: inline-block;
      text-align: center; }
      #home-login ul li a {
        display: block;
        color: #fff;
        text-decoration: none;
        border: 1px solid #ff91a0;
        background-color: #546DFF;
        padding: 5px;
        transition: all .5s ease-out; }
      #home-login ul li a:hover {
        background: #152CB2; }

article {
  font-family: "Open Sans", sans-serif;
  line-height: 145%; }
  article img,
  article video,
  article iframe {
    max-width: 100%; }
  article h1,
  article h2,
  article h3 {
    font-family: "Josefin Sans", sans-serif;
    text-shadow: 2px 2px silver;
    font-size: 2em;
    margin: 5px 0 10px 0;
    color: #222; }
  article h2 {
    font-size: 1.75em; }
  article h3 {
    font-size: 1.5em; }
  article a {
    color: #555;
    text-decoration: none;
    border-bottom: dotted 1px #555; }
  article code {
    display: block;
    border: solid 1px #222;
    font-family: "Nanum Gothic Coding", sans-serif;
    padding: 5px;
    background: #eee;
    white-space: pre-line;
    font-size: 80%;
    line-height: 1.3;
    border-radius: 4px;
    margin: 10px; }

div.cards256 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center; }
  div.cards256 a {
    font-family: "Josefin Sans", sans-serif;
    display: block;
    height: 256px;
    width: 256px;
    position: relative;
    z-index: 100;
    border: solid 1px gray;
    box-shadow: 1px 1px silver;
    border-radius: 4px;
    margin: 10px;
    color: white;
    text-decoration: none;
    border-bottom: none;
    font-size: 150%;
    text-shadow: 1px 1px black; }
  div.cards256 img {
    position: absolute;
    z-index: 95;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 4px; }
  div.cards256 span {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40px;
    line-height: 40px;
    z-index: 98;
    background: rgba(0, 0, 0, 0.8);
    text-align: center; }

#log-in {
  background: #ff5353;
  padding: 20px 10px;
  margin-bottom: 20px; }
  #log-in ul {
    max-width: 960px;
    margin: 0 auto;
    padding: 0; }
  #log-in li {
    list-style-type: none;
    display: inline-block;
    margin: 0 10px 0 0; }
  #log-in a {
    color: #fff;
    font-size: 18px;
    background: rgba(255, 255, 255, 0.2);
    text-decoration: none;
    padding: 10px;
    display: block; }

#google {
  margin-top: 50px; }
  #google main {
    max-width: 960px;
    margin: 30px auto;
    padding: 0 10px;
    color: #333; }
    #google main .google-btn {
      color: #fff;
      text-decoration: none;
      font-size: 18px;
      padding: 10px;
      background: #ff5353; }

/* ----- links ----- */
.grammarLink {
  display: inline-block;
  color: red;
  font-size: 30px;
  text-decoration: none;
  margin: 100px;
}


footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 36px;
  line-height: 36px;
  background-color: rgba(255, 255, 255, 0.71);
  text-align: center;
  font-size: 25px;
  z-index: 10000; }
  footer a {
    color: #555;
    text-decoration: none;
    letter-spacing: 15px; }

@media screen and (min-width: 500px) {
  #hamburger {
    display: none; }
  #nav {
    right: 0; }
  article {
    padding: 90px 160px 60px 20px; } }

@media screen and (max-width: 499px) {
  #hamburger {
    display: block; }
  #nav {
    right: -160px; }
  article {
    padding: 90px 20px 60px 20px; } }
