extends ../layouts/layout

block title
  title Coding

block content
  h1
    | Coding
  .flex
    div
      a(href='https://address-collection-c2120.firebaseapp.com/?id=1')
        img(src='/assets/images/htmlref.jpg')
        br
        h1 Studying HTML
    div
      a(href='https://address-collection-c2120.firebaseapp.com/?id=2')
        img(src='/assets/images/special-chars.jpg')
        br
        h1 Special Character
    div
      a(href='https://address-collection-c2120.firebaseapp.com/?id=3')
        img(src='/assets/images/cssref.jpg')
        br
        h1 Studying CSS
    div
      a(href='https://address-collection-c2120.firebaseapp.com/?id=4')
        img(src='/assets/images/color-ref.jpg')
        br
        h1 About Colors
    div
      a(href='https://address-collection-c2120.firebaseapp.com/?id=5')
        img(src='/assets/images/free-photo.jpg')
        br
        h1 Free Photos
    div
      a(href='https://address-collection-c2120.firebaseapp.com/?id=6')
        img(src='/assets/images/free-vector.jpg')
        br
        h1 Free Vector Graphics
    div
      a(href='https://address-collection-c2120.firebaseapp.com/?id=7')
        img(src='/assets/images/pattern.jpg')
        br
        h1 Pattern Designs
    div
      a(href='https://address-collection-c2120.firebaseapp.com/?id=8')
        img(src='/assets/images/javascript.png')
        br
        h1 Javascript Cheat Sheet

  ul.download
    li
      a(href='CollectionItems.zip', download='') Download Sample Data
    li
      a(href='images.zip', download='') Download Sample Pictures
    li
      a(href='AlanSourceCode.zip', download='') Download Alan's Code

  ul.thumbsup
    li Cotton candy jelly sweet muffin.
    li
      | Pudding bear claw cheesecake gummies marshmallow croissant chocolate cake gummies.
    li Dragée apple pie powder gingerbread lemon drops croissant.


