extends ../layouts/layout

block title
  title Coding

block content
  h1
    | Coding

  h2 Cool sites to study html

  ul.download
    li
      a(href='CollectionItems.zip', download='') Download Sample Data
    li
      a(href='images.zip', download='') Download Sample Pictures
    li
      a(href='AlanSourceCode.zip', download='') Download Alan's Code

  ul.thumbsup
    li Cotton candy jelly sweet muffin.
    li
      | Pudding bear claw cheesecake gummies marshmallow croissant chocolate cake gummies.
    li Dragée apple pie powder gingerbread lemon drops croissant.


