extends ../layouts/layout

block title
  title Coding

block content
  h1
    | Coding

  h2 Cool sites to study html#[br]#[br]
  h3 
    a(href='https://address-collection-c2120.firebaseapp.com/?id=1') Studying HTML #[br]#[br]
    a(href='https://address-collection-c2120.firebaseapp.com/?id=2') Special Character #[br]#[br]
    a(href='https://address-collection-c2120.firebaseapp.com/?id=3') Studying CSS #[br]#[br] 
    a(href='https://address-collection-c2120.firebaseapp.com/?id=4') About Colors #[br]#[br]
    a(href='https://address-collection-c2120.firebaseapp.com/?id=5') Freep Photos #[br]#[br]
    a(href='https://address-collection-c2120.firebaseapp.com/?id=6') Freep Vector Graphics #[br]#[br]
    a(href='https://address-collection-c2120.firebaseapp.com/?id=7') Pattern Designs #[br]#[br]
    a(href='https://address-collection-c2120.firebaseapp.com/?id=8') Javascript Cheat Sheet 

     


  ul.download
    li
      a(href='CollectionItems.zip', download='') Download Sample Data
    li
      a(href='images.zip', download='') Download Sample Pictures
    li
      a(href='AlanSourceCode.zip', download='') Download Alan's Code

  ul.thumbsup
    li Cotton candy jelly sweet muffin.
    li
      | Pudding bear claw cheesecake gummies marshmallow croissant chocolate cake gummies.
    li Dragée apple pie powder gingerbread lemon drops croissant.


