extends ../layouts/layout

block title
  title Coding

block content
  h1
    | Coding
  .flex
    div.cards256
      a(href='https://address-collection-c2120.firebaseapp.com/?id=1')
        img(src='/assets/images/htmlref.jpg')
        span Studying HTML
    div.cards256
      a(href='https://address-collection-c2120.firebaseapp.com/?id=2')
        img(src='/assets/images/special-chars.jpg')
        span Special Character
    div.cards256
      a(href='https://address-collection-c2120.firebaseapp.com/?id=3')
        img(src='/assets/images/cssref.jpg')
        span Studying CSS
    div.cards256
      a(href='https://address-collection-c2120.firebaseapp.com/?id=4')
        img(src='/assets/images/color-ref.jpg')
        span About Colors
    div.cards256
      a(href='https://address-collection-c2120.firebaseapp.com/?id=5')
        img(src='/assets/images/free-photo.jpg')
        span Free Photos
    div.cards256
      a(href='https://address-collection-c2120.firebaseapp.com/?id=6')
        img(src='/assets/images/free-vector.jpg')
        span Free Vector Graphics
    div.cards256
      a(href='https://address-collection-c2120.firebaseapp.com/?id=7')
        img(src='/assets/images/pattern.jpg')
        span Pattern Designs
    div.cards256
      a(href='https://address-collection-c2120.firebaseapp.com/?id=8')
        img(src='/assets/images/javascript.png')
        span Javascript Cheat Sheet

  ul.download
    li
      a(href='CollectionItems.zip', download='') Download Sample Data
    li
      a(href='images.zip', download='') Download Sample Pictures
    li
      a(href='AlanSourceCode.zip', download='') Download Alan's Code

  ul.thumbsup
    li Cotton candy jelly sweet muffin.
    li
      | Pudding bear claw cheesecake gummies marshmallow croissant chocolate cake gummies.
    li Dragée apple pie powder gingerbread lemon drops croissant.


